<div class="container">
    <div class="mx-auto">
            <form method="POST">
                {{ editForm.hidden_tag() }} <!--add type=hidden form fields -->
              
                {% for field in editForm
                       if field.widget.input_type != 'hidden' %}
                <div class="row m-1">
                <div class="col-4">
                {{field.label(class_="mt-1")}}
                </div>
                <div class="col-8">
                    {{ field(class_="form-control") }}
                    {% for error in field.errors %}
                    <div>{{ error }}</div> 
                    {% endfor %}
                </div>
            </div>
                {% endfor %}
                <button class="btn btn-outline-success my-1">Edit</button>
                </form>
        </div>
    </div>